body
{
	margin: 0px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

main
{
	display: flex;
	gap: 50px;
	align-items: center;
}

#grid-game
{
	display: grid;
	width: 400px;
	height: 400px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.game-cell
{
	display: flex;
	border: solid;
	font-size: 5rem;
	justify-content: center;
	align-items: center;
}

#reset-button
{
	font-size: 1.6rem;
	padding: 1em;
	border-radius: 0.5em;
}